
  @if (!keycloakService.isLoggedIn()) {
    <button class="auth-button" mat-flat-button (click)="login()">{{ "Belépés" }}</button>
  } @else {
    <button class="auth-button" mat-flat-button (click)="logout()">{{ "Kilépés" }}</button>
  }

<mat-divider class="divider"></mat-divider>

@if(!!keycloakService.isLoggedIn()) {
  <label class="label">Elérhető liftek:</label>
  
  @if((lifts?.length ?? 0) > 0) {
    <mat-chip-listbox>
      @for (lift of lifts; track lift) {
        <mat-chip-option (selectionChange)="goToLift(lift.id ?? '')">{{lift.id}}</mat-chip-option>
      }
    </mat-chip-listbox>
    
    <div class="grid-container">
      <mat-card class="log-card">
        <label class="label">Hőmérséklet szenzor adatok:</label>
        <div #temperatureLogContainer class="log-container" [scrollTop]="temperatureLogContainer.scrollHeight">
          @for (temperatureLog of temperatureLogs; track temperatureLog) {
            <p class="log-line">{{ temperatureLog | json }}</p>
          }
          @empty {
            <p class="sensor-notice">Válasszon az elérhető liftek közül, hogy lássa a hőmérséklet szenzoradatokat!</p>
          }
        </div>
      </mat-card>
      <mat-card class="log-card">
        <label class="label">Szél szenzor adatok:</label>
        <div #windLogContainer class="log-container" [scrollTop]="windLogContainer.scrollHeight">
          @for (windLog of windLogs; track windLog) {
            <p class="log-line">{{ windLog | json }}</p>
          }
          @empty {
            <p class="sensor-notice">Válasszon az elérhető liftek közül, hogy lássa a szél szenzoradatokat!</p>
          }
        </div>
      </mat-card>
      <mat-card class="log-card">
        <label class="label">Parancsok:</label>
        <div #commandContainer class="log-container" [scrollTop]="commandContainer.scrollHeight">
          @for (command of commands; track command) {
            <p class="log-line">{{ command | json }}</p>
          }
          @empty {
            <p class="sensor-notice">Válasszon az elérhető liftek közül és láthatja majd a parancsokat!</p>
          }
        </div>
      </mat-card>
      <mat-card class="log-card">
        <label class="label">Publikus nézet:</label>
        <app-public [isMasterView]="true"></app-public>
      </mat-card>
    </div>

  }
}
@else {
  <p>Jelentkezzen be a felvonók kezeléséhez!</p>
}

@if(selectedLiftId) {

  <section class="action-container">
    <mat-card class="action-items-container">
      <label class="card-label">Ütemezés</label>
      <span class="action-items-container--status">{{liftStatus | status}}</span>
    </mat-card>
  
    <mat-card class="action-items-container action-items-container--message">
      <label class="card-label">Üzenet</label>
      <input type="text" [(ngModel)]="message">
      <button mat-flat-button type="button" [disabled]="!message?.length" (click)="sendMessage()">{{ "Küldés" }}</button>
    </mat-card>
  
    <mat-card class="action-items-container">
      <button mat-flat-button type="button" [disabled]="liftStatus === 'STOPPED'" color="warn" (click)="emergencyStop()">{{ "VÉSZLEÁLLÁS" }}</button>
    </mat-card>
  </section>
}
