:host {
    display: flex;
    flex-direction: column;
    height: calc(100% - 16px);
    padding: 8px;

    .grid-container {
        height: calc(100% - 240px);
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .auth-button {
        margin-bottom: 8px;
    }

    .label {
        margin: 8px 0 4px 0;
        font-size: 16px;
    }

    .mat-mdc-chip-set {
        width: fit-content;
    }

    .log-card {
        flex: 1;
        overflow: hidden;
        padding: 4px;

        .sensor-notice {
            font-size: 10px;
            margin: 0 0 12px 16px;
        }
    }

    .log-container {
        align-content: end;
        overflow-y: scroll;
        height: inherit;
        border-bottom-left-radius: 12px;

        table {
            .header-row {
                height: 0;
            }

            tr:nth-child(even) {
                background-color: rgb(213, 213, 213);
            
            }
        }
    }

    .action-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 12px;
        
        .action-items-container {
            display: flex;
            flex-direction: row;
            padding: 12px 26px;
            min-width: 100px;
            gap: 4px;

            &--message {
                gap: 12px;
            }

            &--status {
                margin: auto;
            }
        }
    }

    .card-label {
        position: absolute;
        top: -8px;
        left: 4px;
    }
}


